.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  background-color: transparent;
  border-radius: 0.6rem;
  line-height: 1rem;
  padding: 0.5rem 1rem;
  border: none;

  cursor: pointer;
  transition: background-color 100ms ease-out;

  color: inherit;
  font-size: inherit;
  font-weight: inherit;

  &:hover,
  &:active {
    background-color: #ebedf0;
  }
}
