.list {
  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  list-style: none;

  & > *:not(:last-child) {
    margin-bottom: 5px;
  }
}
